* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --beige: #f1efe9;
  --green: #10844c;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem;
  margin: 0 auto;
  background-color: var(--beige);
  margin-bottom: 3rem;
}

.submit{
  background-color: var(--green);
  padding: 1rem;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: #fff;
}

.input {
  padding: .5rem;
  border-radius: 10px;
}

.read {
  display: flex;
  align-items: center;
  gap: 1rem; 
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.book-form{
  display: none;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: .7rem;
  top: 0;
  left: 0;
  bottom: 0;
  translate: (-50%, -50%);
}

.show {
  display: flex;
}

.book-items {
  background-color: aliceblue;
  padding: 3rem;
}
